.project_Start {
    margin-top: 80px;
    margin-bottom: 80px;
}

.lests_start_text h2 {
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    color: #2C3E50;
    margin-bottom: 20px;
}

.lests_start_text p {
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: justify;
    color: #2C3E50;
}

.contuct_now_btn {
    margin-left: 100px
}

.quality {
    padding: 30px;
    margin-top: 70px;
}

.quality:hover {
    background: #FFFFFF;
    box-shadow: 2px 4px 12px rgba(0, 0, 0, 0.25);
}

.quality h2 {
    font-weight: 700;
    font-size: 25px;
    line-height: 38px;
    color: #000000;
}

.quality span {
    color: #E74C3C;
    margin-right: 10px;
}

.quality p {
    font-size: 16px;
    line-height: 24px;
    text-align: justify;
    color: #2C3E50;
    font-weight: 600;
    margin-top: 16px;
}